/* Make all error text red. */
.error {
  color: red;
}

#poster-container {
  margin-top: 0;
  display: inline-block;
  width: 25%;
}

#poster-container img {
  width: 95%;
}

#details {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

#details .property {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

#details .value {
  margin-top: 0;
  margin-bottom: 1em;
}
