div {
  margin: 1em 0;
}

/* Don't show errors unless there are any! */
#error {
  visibility: hidden;
  color: red;
}

/* Prevent the search results from being displayed before
   there are any there. */
#results {
  visibility: hidden;
}

#poster-container, #poster {
  margin-top: 0;
  display: inline-block;
  width: 200px;
}

#details {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  margin-left: 1em;
}

#details .property {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

#details .value {
  margin-top: 0;
  margin-bottom: 1em;
}
