div {
  margin: 1em 0;
}

/* Prevent the search results from being displayed before
   there are any there. */
#results {
  visibility: hidden;
}

#details {
  display: none;
}

#poster {
  width: 200px;
}

#summary {
  display: inline-block;
  margin-top: 0;
  margin-left: 1em;
  vertical-align: top;
  width: 400px;
}
